{% extends 'base.html' %}

{% block content %}
<div class="home-container mt-5 text-center" style="margin-top: 100px;"> <!-- Added text-center class for center alignment -->
    <div style="margin-top: 100px;">
        <h1 id="hometitle">Welcome to the Pokemon TCG Index!</h1>
        {% if 'curr_user' in session %}
            <h1 id="homeuser">Logged in as: {{user.username}}</h1>
        {% endif %}
        <img src="https://th.bing.com/th/id/OIP.iLsQOI5JkUVcqJ_NsYl-agHaE1?w=575&h=375&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="" class="img-fluid mx-auto"> <!-- Added img-fluid class for responsive image and mx-auto class for center alignment -->
    </div>    
</div>
{% endblock %}