{% extends 'base.html' %}

{% block content %}
<div class="sets-container">
    {% for set in sets %}
      <p><a href="/index/{{set.id}}">{{set.name}}</a></p>
    {% endfor %}
  </div>
<div>
    <div class="card-container">
        {% for card in cards %}
          <div id="{{card.id}}" class="card">
            <div class="card-name">{{ card.name }}</div>
            <div class="card-rarity">{{ card.rarity }}</div>
            <div class="card-price">${{ card.cardmarket.prices.averageSellPrice }}</div>
            <img src="{{ card.images.small }}" alt="">
            <div class="like-button"></div>
          </div>
        {% endfor %}
      </div>
</div>
{% endblock %}