{% extends 'base.html' %}



{% block content %}
<div style="margin-top: 100px;">
  <h1>Login as Existing User</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
      {% endfor %}
  {% endif %}
{% endwith %}

<form method="POST">
    {{ form.hidden_tag() }} 
    
    {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
          {{ field.label }}
          {{ field }}
        </p>
    {% endfor %}
    <button>Login!</button>
</form> 
</div>

{% endblock %}
